.messages {
    display: flex;
    gap: 15px;
}

.users {
    flex-grow: 1;
    max-width: 260px;
    border-right: 1px solid grey;
}

.usersList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.usersItem {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color .5s;
}

.usersItem:hover {
    text-decoration-color: inherit;
}

.messagesBox {
    flex-grow: 5;
}

.messageList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.messageReceived {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 0;
    max-width: 400px;
    word-wrap: break-word;
}

.messageSent {
    padding: 10px;
    border: 1px solid grey;
    max-width: 400px;
    word-wrap: break-word;
    border-radius: 20px 20px 0 20px;
    margin-left: auto;
}

.newMessage {
    display: flex;
}

.input {
    display: block;
    flex-grow: 1;
    height: 50px;
    resize: none;
    outline: grey;
}

.btn {
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
    width: 100px;
}