.post {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.author_box {
    margin-bottom: 5px;
    font-weight: 700;
}

.avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.text {
    width: 100%;
}