/* PROFILE */

.bg {
    display: block;
    max-height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.box {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-size: 20px;
}

.birth {
    font-size: 14px;
}

.location {
    font-size: 14px;
}